html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

canvas {
  display: block;
}

a {
  color: white;
  text-decoration: underline;
  font-size: 1.5em;
  margin: 20px;
}